

.title {
    font-size: 30px;
    text-align: center;
    margin: 20px;

}

.exampleButtons {
    margin: 20px;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.exampleButtons .appButton {
    margin: 10px;
}