.btn{
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 10%;
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 2%;
    padding-left: 2%;
    user-select: none;
}

.btnenabled {
    border: 2px solid black;
    background-color: lightblue;
}

.btnenabled:hover {
    background-color: lightcyan;
    cursor: pointer;
}
.btndisabled {
    background-color: lightgrey;
    border: 2px solid darkgrey;
    color: darkgray;
}