.btn{
    border-radius: 5px;
    display: inline;
    position: relative;
    top: -2px;
    margin-left: 3px;
    margin-right: 1%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 2%;
    padding-left: 2%;
    user-select: none;
}

.btnenabled {
    border: 2px solid black;
    background-color: lightblue;
}

.btnenabled:hover {
    background-color: lightcyan;
    cursor: pointer;
}
.btndisabled {
    background-color: lightgrey;
    border: 2px solid darkgrey;
    color: darkgray;
}