


.expanderDisplayContainer {
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.expanderDisplay {
    background-color: #84b2ff;
    box-shadow: 0 0 50px 30px #84b2ff;
    border-radius: 20px;
    font-size: 30px;
    max-width: 80%;
}